
ul {
  list-style-type: none;
  margin: auto;
  padding: auto;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 22px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #F0F8FF;
}
