.container {
  height:;
  width: 100%;
  text-align: center;

}

.intro {
  color: white;
<<<<<<< HEAD
  font-size: 30px;
  background-image: url(/images/Frontpage2017/BGImages/blog.jpg); 
  height: 500px;

}

button {

=======
  text-align: center;
  font-size: 30px;
}

.main-section>.author-info{
  margin-right: 50px;
>>>>>>> a566030 (working on second section)
}
