.container {
  height:;
  width: 100%;
  text-align: center;

}

.intro {
  color: white;
  font-size: 30px;
  background-image: url(/images/Frontpage2017/BGImages/blog.jpg); 
  height: 500px;

}

button {

}
